
    <br />
    <!-- On tables -->
 
    <table class="table-primary">AD</table>
    <table class="table-secondary">SOYAD</table>
    <table class="table-success">YAS</table>
    <table class="table-danger">GRUP</table>
    <table class="table-warning">BOOTCAMP</table>
    <table class="table-info">KODLUYORUZ</table>
    <table class="table-light">YAZILIM</table>
    <table class="table-dark">DETAYLAR</table>


    <tr class="table-primary">AA</tr>
    <tr class="table-secondary">BB</tr>
    <tr class="table-success">CC</tr>
    <tr class="table-danger">DD</tr>
    <tr class="table-warning">EE</tr>
    <tr class="table-info">FF</tr>
    <tr class="table-light">GG</tr>
    <tr class="table-dark">HHHH</tr>
